/* add text on top of the image when hovered */
.picture-box:hover::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
}

.picture-box-1 img {
    content: url('content/daytimeon.jpg');
}

.picture-box-1 img:hover {
    content: url('content/daytimeoff.jpg');
}

.picture-box-2 img {
    content: url('content/daytimeafter.jpg');
}

.picture-box-2 img:hover {
    content: url('content/daytimebefore.jpg');
}

.picture-box-3:hover::before {
    content: "All controlled by an arduino nano, RTC, and 2 MOSFETs";
}